.planesList {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    gap: 32px;
    outline: 1px solid red;
}

.planesItem {
    display: grid;
    gap: 12px;
    padding: 10px;
    background-color: #ffdb92;
    outline: 1px solid grey;
}
/** backgroundColor: '#d2fdbd', // "year"  1946 - 1999 - last */
.last {
  composes:planesItem;
  background-color: #d2fdbd;
}

.current{
  composes:planesItem;
  background-color: #d6f1ff;
}
