/*! Ванільний CSS (Vanilla CSS) */
/*? Section.jsx */
.title {
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;
    color: darkred;
}
.lugrasimoBold {
    font-family: "Lugrasimo", cursive;
    font-weight: 700;
    font-style: normal;
    color: blue;
}
.titleLugrasimoBold {
    composes: lugrasimoBold;
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;
    color: darkred;
}